
body {
    font-family: sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

header {
    position: relative;
    z-index: 1;    
    background: url(../img/img-header.jpg) center center / cover no-repeat;
    height:80vh;
}


    .top-header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:#bdb2ade6;
        display: flex;
        align-items: center;
        z-index: 1;
        padding: 0 10px;
        box-shadow:  0px 5px 12px 0px #0000006e;
    }

        .top-header .logo{
            font-family: 'Tangerine', cursive;
            font-size: 40px;
            text-shadow: 1px 1px 1px #000;
            color: #BDB76B;
            display: inline-block;
            width: 200px;

        }

            .top-header nav{
                width: 100%;
            }
        

            .top-header ul{
                display: flex;
                flex-wrap: wrap;
                flex: 1;
                justify-content: space-around;
            
            }
            .top-header ul li{                
                flex: 0 1 200px;                
                list-style: none;
                border: 1px solid #000;
                border-radius: 10px;
                background-color: #041E2B;
                color: ivory;
                margin: 10px 0;
            }
            
            
            .top-header ul li > a{
                padding:10px;
                text-align: center;                
                display: block;
                border: 1px solid transparent;
            }
            .top-header ul li > a:hover
            {
                color: brown;
            }
            
            
            
                        
            
/*Homepage*/
.intro {
    margin: auto;
    padding-bottom: 20px;
    text-align: justify;
    width: 500px;
}

    .intro h1 {
        text-align: center;
    }

.menu {
    display: flex;
    justify-content: space-around;
}

    .menu img {
        border-radius: 50%;
    }

/* Page Recettes */
.receipe-gallery {
    margin-top: 90px;
    align-items: center ;
    display: flex;
    justify-content: center;
}

.receipe {
    background-color: rgba(214, 212, 212, 0.911);
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    width: 960px;

}
.receipe *
{
    flex-basis:50%;
}
    .receipe h2{
        flex-basis: 100%;
        text-align: center;
    }

    .ingredients {
        align-self: center;
        padding: 25px;
    }

        .ing-canneles {
            font-weight: 400;
        }

    .prep {
        margin-top: 15px;
        margin-bottom: 15px;
    }

/* ---page forum--- */
.forum
{
    width: 960px;
    margin: auto;
    margin-top: 190px;
    margin-bottom: 100px;
}

    .forum .top-comment
    {
        box-shadow: inset 2px 2px 10px black;
        padding: 15px;
    }
        .forum .top-comment  p:nth-child(1)
        {
            font-weight: 700;
        }
        .forum .top-comment  p:nth-child(1n +2)
        {
            margin-top: 10px;
        }
    
    .forum div div:nth-child(2)
    {
        display: flex; 
        justify-content: flex-end;
        margin-right: 10px;
        margin-top: 10px;
    }
        .forum div div:nth-child(2) a
        {
            padding: 5px;
        }
            .forum div div:nth-child(2) a div
            {
                background-color: gray;
                padding: 10px;
                border-radius: 10px;
                box-shadow:  2px 2px 10px black;
            }
        
        .forum div div:nth-child(2) img
        {
            height: 40px;
        }
    
    .forum div:nth-child(2) form
    {
        border: 15px solid gray;
        padding: 50px;
    }
        .forum div:nth-child(2) form textarea
        {
            min-height: 75%;
            resize: none;
        }

    .forum div:nth-child(2) form input
    {
        border-radius: 10px;
        padding: 5px;
        background-color: gray;
    }
    
    
    
    
    
    
    
    
    /* FOOTER */
    
    
footer{
    width: 100%;
    background-color:rgba(196, 196, 196, 0.5);
    padding: 0 10px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

footer div {    
    color: brown;
    font-weight: 700;
}
/*
footer div a{

}

footer div p {
    
}